<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="mobile-web-app-capable" content="yes" />

<div class="input-group" style="margin: 2% 35% 0% 35%">
  <input
    type="search"
    class="form-control rounded"
    placeholder="Search"
    aria-label="Search"
    aria-describedby="search-addon"
    name="searchUser"
    [(ngModel)]="searchUser"
  />
  <button
    type="button"
    class="btn btn-outline-primary"
    style="
      margin-right: 70%;
      padding-right: 10px;
      width: 5%;
      border-radius: 15px;
    "
    (click)="search()"
  >
    search
  </button>
</div>
<div *ngFor="let tweet of lastTweet">
  <div id="page">
    <div id="tweet">
      <div class="tweet-container pt pb pr pl">
        <div class="user pr">
          <!-- <img src="{{ user?.imageUrl }}" /> -->
          <div class="username">
            <div class="name">{{ tweet.username }}</div>
            <div class="handle">@{{ tweet.username }}</div>
          </div>
          <div class="date pt pb">
            {{ tweet.tweetDate | date: "medium" }}
          </div>
          <i class="material-icons">keyboard_arrow_down</i>
        </div>
        <div class="tweet-content pt">
          {{ tweet.tweetText }}
        </div>
      </div>
      <div class="icons">
        <div class="ico">
          <div
            (click)="likeTweet(tweet.tweetId)"
            class="far fa-thumbs-up number"
          >
            {{ tweet.likes.length }}
          </div>
        </div>
        <div class="ico">
          <div class="far fa-comment number">{{ tweet.comments.length }}</div>
        </div>
      </div>
    </div>
    <div class="wrap pt">
      <div class="box">
        <div *ngIf="tweet.comments.length > 0">
          <div class="content" *ngFor="let comment of tweet.comments">
            <div class="line">
              <div class="border"></div>
              <!-- <img
                class="avatar"
                src="https://pbs.twimg.com/profile_banners/44196397/1576183471/1500x500"
              /> -->
            </div>
            <div class="info" style="padding-left: 8%">
              <div class="userinfo sl">
                <div class="name">{{ comment.username }}</div>
                <div class="handle">@{{ comment.username }}</div>
              </div>
              <i class="material-icons">keyboard_arrow_down</i>
            </div>
            <div class="replyto sl" style="padding-left: 10%">
              Replying to <a>{{ tweet.username }}</a>
            </div>
            <div class="subtweet-content sl">
              {{ comment.comment }}
            </div>
          </div>
        </div>
      </div>
      <div style="padding-left: 15%; padding-top: 5%">
        <!-- <form [formGroup]="comment" (submit)="reply(tweet.tweetId)"> -->
        <input
          type="text"
          class="form-control"
          name="comment"
          [(ngModel)]="comment"
        />
        <button (click)="reply(tweet.tweetId)">Reply</button>
        <!-- </form> -->
      </div>
    </div>
  </div>
</div>
