.data {
  background-color: #007bff !important;
}
.messageComment {
  width: 88%;
}

.viewcomments {
  color: black;
}

#displaytag {
  align-content: center;
  color: rgb(21, 44, 44);
  margin-left: 35%;
  margin-top: 10%;
  size: 15%;
}
